*{
  margin: 0;padding: 0;border: 0;
  }

html, body {
    overflow-x: hidden;
}
body{width: 100vw;margin: 0, auto;color: #404040;
  background-color: #FFFDF5;font-family: 'IBM Plex Sans', sans-serif;font-size: 16px;
  }

header{margin-right: 4%;
  margin-left: 4%;padding-top: 2.5%;
  }

.desktop-link{display: none;
  visibility: hidden;
  }
li a{
  color: #404040;
}
a{
  text-decoration: none;color: #B482FF;
  }
a:hover{
  text-decoration: none;
}
a h1{
  color: #404040;
}

.btn a{
  color:#FFF;
}

nav{
  display: flex;align-items: center;flex-direction: row;justify-content: space-between;list-style: none;
  }

.menu-links{
  position: absolute;top: 0;left: 0;overflow: hidden;width: 100vw;height: 100vh;transition: transform 0.2s ease;transform: translateY(-100%);text-align: center;background-color: #FFFDF5;
  }

.menu-links a{
  color: #404040;font-family: 'Open Sans', sans-serif;font-size: 2.5rem;font-weight: bold;
  }

.menu-links a:active{color: #FFFDF5;
  background-color: #B482FF;
  }

.menu-links a:hover{
  color: #B482FF;
}

.menu-links li{
  padding-top: 20%;
}

.menuOn{
  transform: translateY(0);
}

.logopurp{
  color: #B482FF;
}

.fa-bars{position: relative;z-index: 1000;

  color: #B482ff;
  }
.fa.fa-bars{
  font-size: 1.5rem;
}


.L-desktop-link-block{
  float: left;
}
.R-desktop-link-block{
  float:right;
}

.main-text{
  padding: 3%;
}

.container{
  display: flex;align-items: center;flex-direction: column;justify-content: flex-start;width: 100vw;padding-top: 7.5%;text-align: center;
  }
.main-content{width: 80vw;

  text-align: center;
  }
.main-content h1{
    padding: 5rem 0 5rem 0;color: #B482FF;
    }
.splash-one{padding-top: 25%;

  text-align: center;
  }

.btn{width: 160px;height: 40px;margin-top: 15%;padding-top: 15px;text-align: center;color: #FFF;border-radius: 7.5px;
  background-color: #B482ff;
  }
.btn:hover{
  cursor: pointer;color:#FFFDF5;box-shadow:inset 0 -0.7em 0 -0.4em rgba(0,0,0,0.17);
  }

.splash-two{width: 60%;padding-top: 25%;

  text-align: center;
  }
.splash-two p{padding-top: 5%;padding-bottom: 20%;

  font-family: 'PT Serif', serif;font-size: 16px;
  }

.finh3{padding-top: 5%;padding-bottom: 5%;

  color: #B482FF;
  }

.intro{width: 60%;padding-top: 5%;

  font-family: 'PT Serif', serif;font-size: 16px;
  }

ol{padding-top: 15%;

  list-style: none;counter-reset: li;text-align: left;
  }
ol li{padding-top: 10%;

  counter-increment: li;font-size: 18px;font-weight: bold;
  }
ol li::before{padding-right: 0.25rem;

  content: counter(li);text-align: left;vertical-align: super;color: #B482FF;font-family: 'Open Sans', sans-serif;font-size: 10px;font-weight: bold;
  }

.content-list a{
  text-decoration: none;color: #404040;
  }
.content-list a:hover{
  color: #B482FF;
}
.topic sup{color: #b482ff;

  font-size: 12px;
  }
.topic{
  width: 80%;margin: 0 auto;margin-top: 10rem;
  }
.topic a{
  text-decoration: none;color: #B482ff;
  }
.topic a:hover{
  text-decoration: none;color: #a067f6;
  }
.topic-desc{width: 75%;margin: 0 auto;padding-top: 0.5rem;

  color: #b482ff;
  }
.topic-content{margin: 0 auto;
  padding-top: 1.5rem;text-align: left;font-family: 'PT Serif', serif;
  }
.topic-content .hl{
  color: #b482ff;font-weight: bold;
  }
.topic-content h3{margin: 0 auto;padding-top: 1.5rem;

  font-family: 'Open Sans', sans-serif;
  }
.topic-content p{
  padding-top: 1.5rem;
}
.subhead{
  color: #B482FF;font-family: 'PT Serif', serif;font-size: 16px;
  }

.term{
  color: #B482FF;font-family: 'Open Sans', sans-serif;font-weight: bold;
  }
@media (min-width: 783px) and (-webkit-min-device-pixel-ratio: 1)  {
  header{
    padding-top: 1%;
  }
  .splash-one h3{
    font-size: 2rem;
  }
  .splash-two h3{
    font-size: 2rem;
  }
  .desktop-link{
    display: inline-block;visibility: visible;font-size: 1.25rem;
    }
  .container{
    padding-top: 5%;text-align: center;
    }
  .splash-one{width: 60%;
    padding-top: 2em;text-align: center;
    }
  .btn{
    margin-top: 120px;
  }
  .splash-two{width: 40%;
    padding-top: 5%;
    }
  .splash-two p{
    padding-top: 2.5%;padding-bottom: 10%;font-size: 1.25rem;
    }
  a i{display: none;
    visibility: hidden;
    }
  .main-text{
    margin: 100px;
  }
  li a{
    color: #404040;
  }

  .findamentals{
    font-size: 1.25rem;
  }
  .finh3{
    font-size: 2.5rem;
  }
  h3{
    font-size: 1.75rem;
  }
  .content-list ol li{
    font-size: 1.5rem;
  }
  .intro{
    font-size: 1.25rem;
  }
  .btn h3{
    font-size: 1.35rem;
  }
  .main-content p{
    font-size: 1.35rem;
  }
  .desknav{display: inline;padding-left:1rem;

    list-style: none;color:#404040;font-size: 1.2rem;font-weight: bold;
    }
  .desknav a:hover{
    color: #B482FF;
  }

  a:hover{
  font-weight: bold;}
}
