*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: #FFFDF5;
  width: 100vw;
  margin: 0, auto;
  font-size: 16px;
  font-family: 'IBM Plex Sans', sans-serif;
}

header{
  margin-left: 4%;
  margin-right: 4%;
  padding-top: 2.5%;
}

.desktop-link{
  visibility: hidden;
  display: none;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
}

.logopurp{
  color: #B482FF;
}

.fa-bars{
  color: #B482ff;
}
.fa.fa-bars{
  font-size: 1.5rem;
}


.L-desktop-link-block{
  float: left;
}
.R-desktop-link-block{
  float:right;
}

.main-text{
  padding: 3%;
}

.container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 7.5%;
  text-align: center;
}

.splash-one{
  text-align: center;
  padding-top: 25%;
}

.btn{
  background-color: #B482ff;
  color: #FFF;
  width: 160px;
  border-radius: 7.5px;
  text-align: center;
  height: 40px;
  padding-top: 15px;
  margin-top: 15%;
}
.btn:hover{
  cursor: pointer;
  box-shadow:inset 0 -0.7em 0 -0.4em rgba(0,0,0,0.17);
  color:#FFFDF5;
}

.splash-two{
  text-align: center;
  width: 60%;
  padding-top: 25%;
}
.splash-two p{
  font-family: 'PT Serif', serif;
  font-size: 16px;
  padding-top: 5%;
  padding-bottom: 20%;
}
/*just work*/
@media (min-width: 783px) and (-webkit-min-device-pixel-ratio: 1)  {
  header{
    padding-top: 1%;
  }
  .desktop-link{
    display: inline-block;
    visibility: visible;
  }
  .container{
    padding-top: 5%;
    text-align: center;
  }
  .splash-one{
    padding-top: 5%;
    width: 60%;
    text-align: center;
  }
  .btn{
    margin-top: 120px;
  }
  .splash-two{
    padding-top: 5%;
    width: 40%;
  }
  .splash-two p{
    padding-top: 2.5%;
    padding-bottom: 10%;
  }
  li i{
    visibility: hidden;
    display: none;
  }
  .main-text{
    margin: 100px;
  }
  a{
    text-decoration: none;
    color: #B482FF;
  }
  a:hover{
    font-weight: bold;
  }
}
